{
  "env": { "es6": true, "node": true },
  "extends": "rapid7/node",
  "rules": {
    "comma-dangle": 0,
    "prefer-rest-params": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-trailing-spaces": [2, { "ignoreComments": true }]
  }
}